.navigation{
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    background-color: rgba(255,255,255, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s, height, opacity 0.7s linear;
    z-index: 1;
}

.navigation_opened{
    display: flex;
    visibility: visible;
    opacity: 1;
    height: 100vh;
}

.navigation__overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.navigation__button-close{
    position: absolute;
    top: 13px;
    right: 3px;
    background-image: url(../../images/button-close.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    padding: 0;
    border: 0;
    background-position: center;
    background-color: #fff;
    cursor: pointer;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.navigation__button-close:hover{
    opacity: 0.6;
}

.navigation__content{
    width: 320px;
    background-color: white;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 144px;
    padding-bottom: 46px;
}

.navigation__list{
    list-style: none;
    padding: 0;
    margin: 0;
 
}

.navigation__item{
    margin-bottom: 24px;
}

.navigation__item:last-child{
    margin-bottom: 0;
}

.navigation__link{
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.navigation__link:hover{
    opacity: 0.6;
}

.navigation__link_profile{
    width: 100px;
    height: 32px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    border-radius: 20px;
}

.navigation__link_border{
    border-bottom: 2px solid #000000;
    padding-bottom: 7px;
}

@media screen and (min-width: 768px) {
    .navigation__button-close{
        top: 22px;
        right: 22px;
    }
    
    .navigation__content{
        margin-left: 248px;
        width: 520px;
        padding-top: 159px;
        padding-bottom: 90px;
    }
    
    .navigation__item{
        margin-bottom: 28px;
    }
     
    .navigation__link_border{
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 1280px) {
    .navigation_opened{
        visibility: hidden;
        opacity: 0;
    }
}