.login__logo{
    background-image: url(../../images/logo.svg);
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    margin: 94px auto 0 ;
}


.login__title{
    width: 260px;
    height: 29px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin: 50px auto 80px;
}

@media screen and (min-width: 768px) {
    .login__content{
        width: 396px;
        padding-top: 232px;
        margin: 0 auto;
    }
    
    .login__logo{
        margin: 0;
    }

    .login__title{
        width: 396px;
        height: 29px;
        margin: 0;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: left;
    }
}

@media screen and (min-width: 1280px) {
    .login__content{
        padding-top: 70px;
    }
}